@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

@media (max-width:600px){
    /*Estilos para telas menores que 600px*/
    h1{
        font-size: 1.5rem;
    }
    
    p#description{
        font-size: 0.8rem;
    }
    
    h3{
        font-size: 0.8rem;
    }
    
    
    .button{
        width: 5rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }
        
    input{
        width: 12rem;
        height: 1.5rem;
          
    }
    
    
    section#fullgame{
        width: 80%;
        height:auto;
    }
    
    body {
        height: 100vh; 
        margin: 0; 
        background-color: #ffafaf;
    }
    }
    