

h1{
    font-family: Kode Mono;
}

p#description{
    font-family: Kode Mono;
}

h3{
    font-family:Kode Mono;
    text-align: center;
}


.button{
    font-family: Kode Mono;
    background-color: #4169E1;
    cursor:pointer;
    color: white;
    border: none;
    border-radius: 7px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: transform 0.3s ease;
}

.button:hover{
    transform: scale(1.05);
}

input{
    border-width: 2px;
    border-radius: 4px;
    border-color: gray;
    font-family: Kode Mono;

}

div#buttons{
    display: flex;
    justify-content:center;
    gap:2rem;
    margin-top: 1rem;
}

div#message{
    display: flex;
    justify-content: center;
}

div#upperpart{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section#fullgame{
    height:auto;
    background-color:rgba(255, 255, 255, 0.596);
    border-radius: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-color: #afc6ff;
}