@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

@media (min-width:901px) and (max-width:1200px){
    /*Estilos para telas entre que 901px e 1200px*/    
    h1{
        
        font-size: 3rem;
    }
    
    p#description{
        font-size: 1.3rem;
    }
    
 
    
    .button{
        width: 8rem;
        height: 2.5rem;
        font-size: 1rem;
    }
    
    
    input{
        width: 16rem;
        height: 1.5rem;
    }
    
    
    section#fullgame{
        width: 75%;
        height:auto;  
    }

    body {
        height: 100vh; 
        margin: 0; 
        background-color: #b8ffaf;
    }
}